<div class="steppers-container row">
  <div class="col-md-10 col-lg-10 col-xxxl-10">
    <nb-card size="giant" style="height: 100%">
      <nb-card-body>
        <nb-stepper orientation="vertical">
          <nb-step label="Step 1">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label" for="company-name">Request Power</label>
                  <div class="h6" for="company-name">University of Chicago</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="buyer-name" class="label">Authorized Buyer</label>
                  <div class="h6" id="buyer-name">Large Buyer A</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <nb-radio [value]="'Physical PPA'"> Physical PPA</nb-radio>
              </div>
              <div class="col-md-2">
                <nb-radio [value]="'Virtual PPA'"> Virtual PPA </nb-radio>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="delivery_time_period" class="label">Delivery Time Period</label>
                  <input nbInput fullWidth id="delivery_time_period" placeholder="Delivery Time Period" [nbDatepicker]="rangepicker">
                  <nb-rangepicker #rangepicker></nb-rangepicker>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label" for="initial_response">Initial Response Due By</label>
                  <input nbInput fullWidth id="initial_response" placeholder="Initial Response Due by" [nbDatepicker]="formpicker">
                  <nb-rangepicker #formpicker></nb-rangepicker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-5">
                <label class="label">Seller Priority</label>
                <nb-select selected="add_another_seller">
                  <nb-option value="add_another_seller"> Select another seller to add to priority list: </nb-option>
                  <nb-option value="seller2">Seller2</nb-option>
                </nb-select>
              </div>
              <div class="form-group col-md-7">
                <label class="label">Seller Priorty List:</label>
                <br>
                <button nbButton status="disabled">1) Seller A</button>
                <button nbButton status="disabled">2) Seller D</button>
                <button nbButton status="disabled">3) Seller C</button>
                <button nbButton status="disabled">4) Seller M</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="ISO" class="label">ISO</label>
                <nb-select id="ISO" placeholder="PJM">
                  <nb-option value="CSASIO">PJM</nb-option>
                  <nb-option value="iso2">iso2</nb-option>
                </nb-select>
              </div>
              <div class="form-group col-md-3">
                <label for="Zone" class="label">Zone</label>
                <nb-select placeholder="Zone">
                  <nb-option value="seller1">Illinois, ComEd</nb-option>
                  <nb-option value="seller2">Seller2</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label class="label">Shape (Automatic DA)</label>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <nb-radio status="basic">24*7</nb-radio>
                </div>
                <div class="col-md-2">
                  <nb-radio status="basic">On Peak</nb-radio>
                </div>
                <div class="col-md-2">
                  <nb-radio status="basic">Off Peak</nb-radio>
                </div>
                <div class="col-md-2">
                  <nb-radio status="basic">Work Peak</nb-radio>
                </div>
                <div class="col-md-2">
                  <nb-radio status="basic">Intermittent</nb-radio>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">MWs/hr </label>
                  <input type="text" nbInput fullWidth placeholder="0">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">KWs/hr</label>
                  <input type="text" nbInput fullWidth placeholder="0">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Power Source</label>
                  <nb-select selected="Wind">
                    <nb-option value="Wind">Wind</nb-option>
                    <nb-option value="Solar">Solar</nb-option>
                  </nb-select>
                </div>
              </div>  
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Renewable Energy Arrtibute</label>
                  <nb-select selected="Wind">
                    <nb-option value="Wind">Included</nb-option>
                    <nb-option value="Solar">Not Included</nb-option>
                  </nb-select>
                </div>
              </div>  
            </div>
            <button nbButton nbStepperNext status="danger">Cancel</button>
            <button nbButton nbStepperNext status="success">next</button>
          </nb-step>
          <nb-step label="Step 2">
            <h3>Estimated Value For Requested Power Purchase</h3>
            <nb-list>
              <nb-list-item>
                <div><span style="font-weight: bold;">Total Volume in MW: </span> 5952 </div>
              </nb-list-item>
              <nb-list-item>
                <div><span style="font-weight: bold;">REC Volume in MW: </span> 5952 </div>
              </nb-list-item>
              <nb-list-item>
                <div><span style="font-weight: bold;">Total Estimated Energy Monthly Value: </span> $93,830.05 </div>
              </nb-list-item>
              <nb-list-item>
                <div><span style="font-weight: bold;">Total Estimated Energy Value: </span> $190,787.76 </div>                 
              </nb-list-item>
              <nb-list-item>
                <div><span style="font-weight: bold;">Total Estimated REC Monthly Value: </span> $3,029.67 </div>
              </nb-list-item>
              <nb-list-item>
                <div><span style="font-weight: bold;">Total Estimated REC Value: </span> $6,160.32 </div>                 
              </nb-list-item>
            </nb-list>
            <button nbButton nbStepperPrevious status="warning">Previous</button>
            <button nbButton nbStepperNext status="success">Confirm</button>
          </nb-step>
          <nb-step label="Done!">
            <h3>Let's go!</h3>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">Company: </span> University of Chicago </div>
              <div class="col-sm-6"><span style="font-weight: bold;">PPA: </span> MATCHRPP </div>
            </nb-list-item>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">Delivery Time Period: </span> 07-01-2020 00:00 EST - 8-31-2020 23:59 EST </div>
              <div class="col-sm-6"><span style="font-weight: bold;">Initial Response Due By: </span> 06-01-2020 12:00 EST</div>
            </nb-list-item>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">Seller Priority: </span> Test One Seller, Seller D, Seller C, Seller M</div>
              <div class="col-sm-6"><span style="font-weight: bold;">WHolesale Delivery Location ISO: </span> PJM </div>
            </nb-list-item>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">Wholesale Delivery Location Zone: </span> Illinois, ComEd </div>
              <div class="col-sm-6"><span style="font-weight: bold;">Shape (Automatic DA): </span> 7*24 </div>
            </nb-list-item>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">Primary Power Source: </span> Wind </div>
              <div class="col-sm-6"><span style="font-weight: bold;">REC/Credit: </span> Included </div>
            </nb-list-item>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">REC/Credit Type: </span> MATCHRPP </div>
              <div class="col-sm-6"><span style="font-weight: bold;">REC/Credit Amount: </span> MWh </div>
            </nb-list-item>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">State: </span> IL </div>
              <div class="col-sm-6"><span style="font-weight: bold;">Type: </span> ARES Wind </div>
            </nb-list-item>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">Year: </span> RY 2019 </div>
              <div class="col-sm-6"><span style="font-weight: bold;">Total Estimated REC Monthly Value: </span> $3,029.67 </div>
            </nb-list-item>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">Total Estimated REC Value: </span> $6,160.32 </div>
              <div class="col-sm-6"><span style="font-weight: bold;">Total Estimated Energy Monthly Value: </span> $93,830.05 </div>
            </nb-list-item>
            <nb-list-item class="row">
              <div class="col-sm-6"><span style="font-weight: bold;">Total Estimated Energy Value: </span> $190,787.76 </div>
            </nb-list-item>
            <button nbButton nbStepperPrevious status="warning">Previous</button>
            <button nbButton nbStepperNext status="success">GO!</button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</div>
